ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px; /* 페이지 번호 사이의 간격 조정 */

    text-decoration: none;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border: 1px solid #ccc;
}
li a:visited {
    color: inherit;       /* 부모 요소의 색상을 그대로 사용 */
    text-decoration: none;  /* 밑줄 제거 */
}
.current-page {
    font-weight: bold;
    color: white !important;
    background-color: blue !important;
}