<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>비밀번호 확인</title>
</head>
<body>
<div layout:fragment="content">
  <h1>비밀번호 확인</h1>

  <form id="passwordForm" onsubmit="checkPassword(event);">
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit" id="checkButton">확인</button>
  </form>

  <p id="resultMessage"></p>
</div>

<script layout:fragment="script" th:inline="javascript">
  function checkPassword(e) {

    e.preventDefault();

    var password = document.getElementById('password').value;

    const data = {
      password : password
    }
    // Axios를 사용하여 서버에 비밀번호 확인 요청 보내기
    axios.post('/sign-api/checkPassword', data)
            .then(function (response) {
              // 비밀번호 확인이 성공한 경우
              window.location.href = '/MyPage';
            })
            .catch(function (error) {
              // 비밀번호 확인이 실패한 경우
              alert('비밀번호가 일치하지 않습니다.');
            });
  }
</script>
</body>
</html>