<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>detail</title>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <th>username</th>
    <th>password</th>
    <th>nickname</th>
    <th>tel</th>
    <th>team</th>
  </tr>
  <tr>
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.password}"></td>
    <td th:text="${user.nickname}"></td>
    <td th:text="${user.tel}"></td>
    <td th:text="${user.team}"></td>
  </tr>
</table>
</body>
</html>