<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .container {
            margin-top: 50px;
        }

        .table {
            margin-top: 50px;
        }

        .search {
            margin-top: 30px;
        }
    </style>


</head>
<body>
<div class="container">
    <a href="/">
        <h2>회원가입 로그인 구현</h2>
    </a>
        <div th:if="${nickname} == null">
            <a href="/user/login">로그인</a>
            <a href="/user/signup">회원가입</a>
        </div>
    <div th:unless="${nickname} == null">
        <div id="header-title-login-user">
            <span th:text="${nickname}"></span>님 어서오세요
        </div>
        <a id="logout-text" th:href="@{/user/logout}">
            로그아웃
        </a>
    </div>

</div>
</body>
</html>
