<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>맴버 회원가입</title>
</head>

<body>
<div layout:fragment="content">

<!--    &lt;!&ndash; Include LoginPage.html &ndash;&gt;-->
<!--    <div th:replace="/LogInPage"></div>-->

    <h1> 대시 보드 </h1>
    <h1> 요청 현황 </h1>
    <h1> 비품 목록 </h1>
</div>
<script layout:fragment="script" th:inline="javascript">

</script>
</body>
</html>