<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>맴버 </title>
</head>
<body>
<div layout:fragment="content">



  <div>안녕하세요!</div>




</div>


<script layout:fragment="script" th:inline="javascript">
  var token = /*[[${accessToken}]]*/ '';

  // 쿠키 만료 시간을 5분으로 설정
  var expirationTime = new Date();
  expirationTime.setTime(expirationTime.getTime() + 300000); // 현재 시간에서 5분(300,000 밀리초)을 더함


  // JavaScript로 쿠키를 설정하는 함수
  function setCookie(name, value, expiration) {
    document.cookie = name + '=' + encodeURIComponent(value) + '; expires=' + expiration.toUTCString() +  '; path=/';
  }
  setCookie('Authorization', token, expirationTime);

</script>
</body>
</html>