<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/LoginStyle.css}">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<section class="login-form">
  <h1>LOGIN</h1>
  <form id="loginForm" onsubmit="submitLoginForm(event);">
    <div class="int-area">
      <input type="text" name="username" id="id" autocomplete="off" required>
      <label for="id">E-mail</label>
    </div>
    <div class="int-area">
      <input type="password" name="password" id="pw" autocomplete="off" required>
      <label for="pw">PASSWORD</label>
    </div>

      <button id="btn" type="submit">LOGIN</button>

  </form>
</section>

<script>
  function submitLoginForm(e) {
    e.preventDefault();

    var username = document.getElementById("id").value;
    var password = document.getElementById("pw").value;

    if (!username || !password) {
      alert("이메일, 패스워드를 입력해주세요.");
      return;
    }

    var credentials = {
      username: username,
      password: password
    };

    axios.post("/sign-api/custom-login", credentials)
            .then(function (res) {
              alert(res.data);
              window.location.replace("/index");
              }
            )
            .catch(function (error) {
              // 로그인 실패 처리
              console.error("Login failed: " + error);
              alert("이메일 또는 패스워드를 다시 확인해주세요.");
            });
  }
</script>
</body>
</html>
