<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <title>Manager - 회원 목록</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ManagerStyle.css">
</head>

<body>
<div class="container">
    <h1 class="my-4">회원 목록</h1>
    <button class="btn btn-secondary back-button" onclick="goBack()">뒤로가기</button>
    <div layout:fragment="content">
        <!-- 테이블을 역할이 USER인 경우에만 표시 -->
        <table id="userTable" class="table" style="display: none;">
            <thead>
            <tr>
                <th>이름</th>
                <th>이메일</th>
                <th>전화번호</th>
                <th>권한</th>
                <th>팀</th>
                <th>팀 설정</th>
                <th>정보 보기</th> <!-- 추가: 정보 보기 칸 -->
                <th>회원 삭제</th> <!-- 변경: 회원 삭제를 마지막으로 이동 -->
            </tr>
            </thead>
            <tbody id="userTableBody">
            <!-- 사용자 데이터가 여기에 동적으로 삽입될 것입니다. -->
            </tbody>
        </table>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    /* 기존 스크립트 내용 */

    // 다른 스크립트 파일 불러오기
    // var script = document.createElement('script');
    // script.src = '/js/ManagerPage.js';
    // document.head.appendChild(script);
    function fetchUserRole() {
        axios.get('/sign-api/get-role')
            .then(function(response) {
                const roleEnum = response.data;
                console.log('User role:', roleEnum);

                // const roleEnum = getRoleEnumFromRoleString(role); // 권한(role)을 Enum으로 변환

                var script;
                if (roleEnum === 'MANAGER') {
                    script = document.createElement('script');
                    script.src = '/js/ManagerPage.js';
                } else if (roleEnum === 'ADMIN') {
                    script = document.createElement('script');
                    script.src = '/js/AdminPage.js';
                }

                if (script) {
                    document.head.appendChild(script);
                } else {
                    console.error('Unknown user role:', role);
                }
            })
            .catch(function(error) {
                console.error('Failed to fetch user role:', error);
            });
    }

    function getRoleEnumFromRoleString(role) {
        if (role === 'manager') {
            return 'MANAGER';
        } else if (role === 'admin') {
            return 'ADMIN';
        }
        return null; // 예외 처리: 알 수 없는 권한(role)인 경우
    }

    fetchUserRole();


</script>
</body>

</html>