<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<!-- 액션속성: 폼에 작성한 데이터를 어디로 보낼지 지정-->
<form action="/user/save" method="post">
  <!-- 네임속성: 서버로 전송할 때 변수이름의 역할-->
  이메일: <input type="text" name="username"> <br>
  비밀번호: <input type="password" name="password"> <br>
  이름: <input type="text" name="nickname"> <br>
  전화번호: <input type="text" name="tel"> <br>
  클래스: <input type="text" name="team"> <br>
  <!-- submit 속성 : 버튼형식 , 클릭하면 위의 내용을 가지고 액션속성으로 보내진다-->
  <input type="submit" value="회원가입">

</form>
</body>
</html>