<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판 조회</title>
</head>
<body>
<table>
    <tr>
        <th>Supply ID</th>
        <th>Serial Number</th>
        <th>Model Content</th>
        <th>Amount</th>
        <th>Model Name</th>
        <th>Deleted</th>
        <th>User</th>
        <th>Category</th>
    </tr>
    <tr th:each="supply : ${supplies}">
        <td th:text="${supply.supplyId}"></td>
        <td th:text="${supply.serialNum}"></td>
        <td th:text="${supply.modelContent}"></td>
        <td th:text="${supply.amount}"></td>
        <td th:text="${supply.modelName}"></td>
        <td th:text="${supply.deleted}"></td>
        <td th:if="${supply.user != null}" th:text="${supply.user}"></td>
        <td th:text="${supply.category}"></td>
    </tr>
</table>
</body>
</html>
