<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supply 등록</title>
</head>
<body>
<h1>Supply 등록</h1>
<form th:action="@{/supply/create}" method="post" th:object="${supplyDTO}"  enctype="multipart/form-data">
    <div>
        <label for="serialNum">Serial Number:</label>
        <input type="text" id="serialNum" name="serialNum" th:field="*{serialNum}" required>
    </div>
    <div>
        <label for="modelContent">Model Content:</label>
        <input type="text" id="modelContent" name="modelContent" th:field="*{modelContent}" required>
    </div>
    <div>
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" th:field="*{amount}" required>
    </div>
    <div>
        <label for="multipartFile">Image:</label>
        <input type="file" id="multipartFile" name="multipartFile" accept="image/*" required>
    </div>
    <div>
        <label for="modelName">Model Name:</label>
        <input type="text" id="modelName" name="modelName" th:field="*{modelName}" required>
    </div>
    <div>
        <label for="status">Status:</label>
        <select id="status" name="status" th:field="*{status}" required>
            <option value="USING">사용중</option>
            <option value="REPAIRING">수리중</option>
            <option value="STOCK">재고</option>
        </select>
    </div>
    <div>
        <label for="largeCategory">Large Category:</label>
        <select id="largeCategory" name="largeCategory" th:field="*{largeCategory}" required>
            <option value="COMPUTER">컴퓨터</option>
            <option value="DIGITAL">디지털</option>
            <option value="ELECTRONICS">가전제품</option>
            <option value="FURNITURE">가구</option>
            <option value="ETC">기타</option>
        </select>
    </div>
    <div>
        <label for="categoryName">Category Name:</label>
        <input type="text" id="categoryName" name="categoryName" th:field="*{categoryName}" required>
        </select>
    </div>
    <button type="submit">등록</button>
</form>
</body>
</html>