<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supply List</title>
</head>
<body>
<h1>Supply List</h1>
<table>
    <thead>
    <tr>
        <th>Supply ID</th>
        <th>Serial Number</th>
        <th>Amount</th>
        <th>Model Name</th>
        <th>Status</th>
        <th>Username</th>
        <th>Category Name</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dto : ${supplyResponseDtos}">
        <td th:text="${dto.supplyId}"></td>
        <td th:text="${dto.serialNum}"></td>
        <td th:text="${dto.amount}"></td>
        <td th:text="${dto.modelName}"></td>
        <td th:text="${dto.status}"></td>
        <td th:text="${dto.username}"></td> <!-- username 출력 -->
        <td th:text="${dto.categoryName}"></td> <!-- categoryName 출력 -->
        <td th:text="${dto.createdAt}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>