<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supply List</title>
    <link rel="stylesheet" type="text/css" href="/css/supplylist.css">
</head>
<body>
<h1>Supply List</h1>
<form th:action="@{/supply/list}" method="get">
    <input type="text" name="keyword" placeholder="검색어를 입력하세요">
    <button type="submit">검색</button>
</form>
<a th:href="@{/supply/create}" class="btn btn-primary">
    <button type="button">비품 등록</button>
</a>
<form id="myForm" th:action="@{/supply/list}" method="get">
    <select name="selectedStatus" id="selectedStatus">
        <option value="all" th:selected="${selectedStatus == 'all'}">전체 보기</option>
        <option th:each="c : ${statusList}" th:value="${c}" th:text="${c.korean}"  th:selected="${selectedStatus == c.name()}"></option>
    </select>
</form>
<table>
    <thead>
    <tr>
        <th>Category Name</th>
        <th>Model Name</th>
        <th>Serial Number</th>
        <th>Amount</th>
        <th>Username</th>
        <th>Created At</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dto : ${supplyResponseDtos}">
        <td th:text="${dto.categoryName}"></td> <!-- categoryName 출력 -->
        <td th:text="${dto.modelName}"></td>
        <td th:text="${dto.serialNum}"></td>
        <td th:text="${dto.amount}"></td>
        <td th:text="${dto.username}"></td> <!-- username 출력 -->
        <td th:text="${dto.createdAt}"></td>
        <td th:text="${dto.status}"></td>
    </tr>
    </tbody>
</table>
<div>
    <ul class="pagination justify-content-center" th:if="${totalPages > 0}">
        <!-- 이전 페이지 화살표 -->
        <li class="page-item">
            <a th:if="${page > 0}" th:href="@{/supply/list(page=0)}" class="page-link">First</a>
            <span th:unless="${page > 0}" class="page-link">First</span>
        </li>
        <li class="page-item">
            <a th:if="${page > 0}" th:href="@{/supply/list(page=${page - 1})}" class="page-link">Previous</a>
            <span th:unless="${page > 0}" class="page-link">Previous</span>
        </li>
        <!-- 페이지 번호-->
        <li th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}">
            <a th:href="@{'/supply/list' + '?selectedStatus=' + ${selectedStatus} + '&page=' + ${pageNum} + '&size=' + ${size}}" th:text="${pageNum + 1}"></a>
        </li>

        <!-- 다음 페이지 화살표 -->
        <li class="page-item">
            <a th:if="${page < totalPages - 1}" th:href="@{/supply/list(page=${page + 1})}" class="page-link">Next</a>
            <span th:unless="${page < totalPages - 1}" class="page-link">Next</span>
        </li>
        <li class="page-item">
            <a th:if="${page < totalPages - 1}" th:href="@{/supply/list(page=${totalPages - 1})}" class="page-link">Last</a>
            <span th:unless="${page < totalPages - 1}" class="page-link">Last</span>
        </li>
    </ul>
</div>

</body>
<script>
    var selectElement = document.getElementById("selectedStatus");

    selectElement.addEventListener("change", function () {
        // 폼을 제출
        document.getElementById('myForm').submit();
    });
</script>
</html>