<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>맴버 로그인</title>
</head>

<div layout:fragment="content">

    <form th:action="@{/signin}" th:object="${signInRequestDTO}"  method="post">

        <!-- 이메일 입력 -->
        <div>
            <label for="email">이메일:</label>
            <input type="email" id="email" name="email" th:field="*{email}" required>
        </div>

        <!-- 비밀번호 입력 -->
        <div>
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password"
                   th:field="*{password}" required>
        </div>
        <!-- 회원 가입 버튼 -->
        <div>
            <button type="submit">로그인</button>
        </div>
    </form>



</div>


<script layout:fragment="script" th:inline="javascript">

</script>

</html>