<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>요청 목록</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>

<h1>관리자 - 메인 화면</h1>

<h2>안녕하세요!</h2>

    <div>
        <span>대여 요청</span>
        <a th:href="@{/admin-requestlist/rental}"><span th:text="${rental}">0</span></a>
    </div>

    <div>
        <span>반납 요청</span>
        <a th:href="@{/admin-requestlist/return}"> <span th:text="${return}">0</span></a>
    </div>


    <div>
        <a th:href="@{/register-supply}" ><button>비품 등록</button></a>
        <a th:href="@{/}" ><button>메인 페이지</button></a>
    </div>

</body>
</html>