<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>요청 상세</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>

<body>
 <h1>관리자 - 대여 요청 목록</h1>

    <table>

       <thead>
            <tr>
                <th>요청 ID</th>
                <th>요청 품목</th>
                <th>내용</th>
                <th>상세</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="info : ${requestList}">

                <td th:text="${info.requestId}">Request ID</td>

                <td th:text="${info.category.categoryName}">Supply</td>

                <td th:text="${info.content}">Content</td>

                <td>
                    <a
                            th:href="@{/admin-request-accept/rental(requestId=${info.requestId})}"><button>상세
                    </button></a>
                </td>

            </tr>
        </tbody>

    </table>


     <div>
         <a th:href="@{/admin-main}"><button>메인 페이지</button></a>
     </div>

</body>

</html>