<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/basic.html}"
>
  <head>
    <title>유저요청</title>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- styles -->
    <link rel="stylesheet" href="/css/request/Common.css" />
    <link rel="stylesheet" href="/css/request/RequestDetails.css">

  </head>
  <body>

    <div class="page-overlay" layout:fragment="content">

      <div class="page-header">
        <h1>유저 - 요청 내역</h1>

        <div>
          <div th:replace="~{/fragments/pagination-fragment :: pagination}"></div>
        </div>
      </div>

      <div class="page-body">
        <table class="table align-middle">
          <thead>
            <tr>
              <th>요청 일시</th>
              <th>요청 종류</th>
              <th>요청 내용</th>
              <th>요청 비품</th>
              <th>승인 여부</th>
              <th>관리자 답변</th>
              <th>대여 비품</th>
              <th>처리 일시</th>
            </tr>
          </thead>

          <tbody class="table-group-divider">
            <tr class="table-body" th:each="history : ${requestHistory}">
              <td th:text="${#temporals.format(history.createdAt, 'yyyy-MM-dd')}"></td>
              <td th:text="${history.requestType.getType() == 'rental' ? '대여' : '반납'}"></td>

              <td th:text="${history.content}"></td>
              <td th:text="${history.category.categoryName}"></td>

              <!-- -->
              <td
                th:if="${history.accept != null}"
                th:text="${history.accept.booleanValue() == true ? '승인' : '거부'}"
                th:style="${history.accept.booleanValue() == true ? 'background-color : #28D485;' : 'background-color : #F05650;'}"
              ></td>
              <td th:if="${history.accept == null}" th:text="대기중"></td>
              <!-- -->

              <td th:text="${history.comment}"></td>

              <!-- -->
              <td
                th:if="${history.supply != null}"
                th:text="${history.supply.getModelName()}"
              ></td>
              <td th:if="${history.supply == null}"></td>
              <!-- -->

              <td th:text="${history.modifiedAt == history.createdAt ? '' : #temporals.format(history.modifiedAt, 'yyyy-MM-dd')}"></td>


            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <script layout:fragment="script" th:inline="javascript"></script>
  </body>
</html>
