<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/basic.html}"
>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" th:src="@{/js/rentalRequest.js}"></script>
    <title>유저 - 비품 요청 페이지</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1 id="header" th:value="rental">유저 - 비품 요청 페이지</h1>

      <form id="request_form" onsubmit="onSubmitRentalRequest(event);">
        <label for="category">대상 품목</label>
        <select id="category"></select>
        <label for="content">요청 내용</label><textarea id="content"></textarea>
        <button>제출</button>
      </form>

      <div>
        <a th:href="@{/}"><button>메인 페이지</button></a>
      </div>
    </div>

    <script layout:fragment="script" th:inline="javascript"></script>
  </body>
</html>
