<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>요청 상세</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script th:src="@{/js/accept.js}" ></script>
</head>

<body>
<h1>관리자 - 반납 요청 목록</h1>

<table>

    <thead>
    <tr>
        <th>요청 ID</th>
        <th>요청 타입</th>
        <th>카테고리</th>
        <th>요청 품목</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="info : ${requestList}">

        <td class="requestId" th:text="${info.requestId}">Request ID</td>

        <td th:text="${info.requestType}">Request Type</td>

        <td th:text="${info.category.categoryName}">Supply</td>

        <td class="supplyId" th:value="${info.supply.supplyId}"
            th:text="${info.supply.getModelName()}"></td>

        <td>
            <button onclick="onApproveReturnHandler(event)">수령 처리</button>
        </td>

    </tr>
    </tbody>

</table>


<div>
    <a th:href="@{/admin-main}"><button>메인 페이지</button></a>
</div>

</body>

</html>