<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/basic.html}"
>
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/request/requestCount.js}"></script>

    <link th:href="@{/css/board-dash.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/board-dash.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sb-admin-2.min.css"/>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

    <title>관리자 대시보드</title>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      var selectElement = document.getElementById("selectedStatus");
      selectElement.addEventListener("change", function () {
        document.getElementById('myForm').submit();
      });
    });
  </script>
</head>
<body>
<div layout:fragment="content">
<!-- 요청 대시보드 -->
    <div id="wrapper">

        <!-- Begin Page Content -->
        <div class="container-fluid mt-lg-5">

            <div class="container">
                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-lg-6 mb-4">
                        <div class="card border-left-primary shadow-lg h-100 py-3">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-lg-8">


                                        <h3 class="text-sm font-weight-bold text-primary text-uppercase mb-1">대여 요청
                                        </h3>
                                        <div class="h4 mb-0 font-weight-bold text-gray-800">
                                            <a class="rental-link"  th:href="@{/admin-requestlist/rental}" style="text-decoration: none; color: inherit;">
                                            </a>회
                                        </div>


                                    </div>
                                    <div class="col-lg-4 text-center">
                                        <i class="fas fa-calendar fa-4x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Annual) Card Example -->
                    <div class="col-lg-6 mb-4">
                        <div class="card border-left-success shadow-lg h-100 py-3">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-lg-8">

                                        <h3 class="text-sm font-weight-bold text-success text-uppercase mb-1">반납 요청
                                        </h3>
                                        <div class="h4 mb-0 font-weight-bold text-gray-800">
                                            <a class="return-link" th:href="@{/admin-requestlist/return}" style="text-decoration: none; color: inherit;">
                                            </a>회
                                        </div>



                                    </div>
                                    <div class="col-lg-4 text-center">
                                        <i class="fas fa-dollar-sign fa-4x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Tasks Card Example -->
                    <div class="col-lg-6 mb-1" style="height: 480px;">
                        <div class="card border-left-info shadow-lg h-100 py-3">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-lg-8">

                                        <div class="text-xm font-weight-bold text-info text-uppercase mb-1 custom-font-size" style="font-size: x-large;"> 비품 구매 요청</div>

                                        <div class="row no-gutters align-items-center">
                                            <div class="board-dash">
                                                <h6 class="fw-bold">상위 10개의 게시물</h6>
                                                <ul id="board-list"></ul>
                                                <a href="/board/purchase/list">더보기</a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-4 text-center">
                                        <i class="fas fa-clipboard-list fa-4x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-lg-6 mb-1" style="height: 480px;">
                        <div class="card border-left-warning shadow-lg h-100 py-3">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-lg-8">
                                        <div class="text-xm font-weight-bold text-warning text-uppercase mb-1 custom-font-size" style="font-size: x-large; "> 비품 수리 요청</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="board-dash">
                                                <h6 class="fw-bold">상위 10개의 게시물</h6>
                                                <ul id="board-list2"></ul>
                                                <a href="/board/repair/list">더보기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 text-center">
                                        <i class="fas fa-comments fa-4x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-lg-5">

            </div>
            <!-- Content Row -->

            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">List of supplies in use</h6>
                            <div class="dropdown no-arrow">
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">


                            <form th:action="@{/managerdashboard}" method="get" class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="검색어를 입력하세요">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
                            </form>

                            <form id="myForm" th:action="@{/managerdashboard}" method="get">
                                <select name="selectedStatus" id="selectedStatus">
                                    <option value="all" th:selected="${selectedStatus == 'all'}">전체 보기</option>
                                    <option th:each="c : ${statusList}" th:value="${c}" th:text="${c.korean}"
                                            th:selected="${selectedStatus == c.name()}"></option>
                                </select>
                            </form>



                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>소분류</th>
                                    <th>제품명</th>
                                    <th>시리얼 넘버</th>
                                    <th>유저이름</th>
                                    <th>등록날짜</th>
                                    <th>상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dto : ${supplyResponseDtos}">
                                    <td><span th:text="${dto.categoryName}"></span></td>
                                    <td><span th:text="${dto.modelName}"></span></td>
                                    <td><span th:text="${dto.serialNum}"></span></td>
                                    <td><span th:text="${dto.username}"></span></td>
                                    <td><span th:text="${#temporals.format(dto.createdAt, 'yyyy-MM-dd')}"></span></td>
                                    <td><span th:text="${dto.status}"></span></td>
                                </tr>
                                </tbody>
                            </table>






                            <div>
                                <ul class="pagination justify-content-center" th:if="${totalPages > 0}">
                                    <!-- 이전 페이지 화살표 -->
                                    <li class="page-item">
                                        <a th:if="${page > 0}"
                                           th:href="@{/managerdashboard(page=0, size=${size}, keyword=${keyword}, selectedStatus=${selectedStatus})}"
                                           class="page-link">First</a>
                                        <span th:unless="${page > 0}" class="page-link">First</span>
                                    </li>
                                    <li class="page-item">
                                        <a th:if="${page > 0}"
                                           th:href="@{'/managerdashboard?page=' + (${page - 1}) + '&size=' + ${size} + '&keyword=' + ${keyword} + '&selectedStatus=' + ${selectedStatus}}"
                                           class="page-link">Previous</a>
                                        <span th:unless="${page > 0}" class="page-link">Previous</span>
                                    </li>

                                    <!-- 페이지 번호-->
                                    <li th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}" class="page-item">
                                        <a th:href="@{/managerdashboard(page=${pageNum},size=${size}, keyword=${keyword}, selectedStatus=${selectedStatus})}"
                                           th:text="${pageNum + 1}"
                                           th:class="${pageNum == page ? 'page-link active' : 'page-link'}"></a>
                                    </li>

                                    <!-- 다음 페이지 화살표 -->
                                    <li class="page-item">
                                        <a th:if="${page < totalPages - 1}"
                                           th:href="@{/managerdashboard(page=${page + 1}, size=${size}, keyword=${keyword}, selectedStatus=${selectedStatus})}"
                                           class="page-link">Next</a>
                                        <span th:unless="${page < totalPages - 1}" class="page-link">Next</span>
                                    </li>
                                    <li class="page-item">
                                        <a th:if="${page < totalPages - 1}"
                                           th:href="@{'/managerdashboard?page=' + (${totalPages - 1}) + '&size=' + ${size} + '&keyword=' + ${keyword} + '&selectedStatus=' + ${selectedStatus}}"
                                           class="page-link">Last</a>
                                        <span th:unless="${page < totalPages - 1}" class="page-link">Last</span>
                                    </li>
                                </ul>
                            </div>
                            <!--비품리스트 끝-->





                            <!-- End of my Supply -->
                        </div>
                    </div>
                </div>

                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                            <div class="dropdown no-arrow">
                            </div>
                        </div>
                        <!-- Custom Content -->
                        <div class="card-body">
                            <dotlottie-player src="https://lottie.host/cdf50dc8-9905-4e90-b9e2-d1d10e88692e/Ed0ga1fGvp.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
</body>
<script layout:fragment="script" th:inline="javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/boards/purchase/top10",
            type: "GET",
            success: function (data) {
                var boardList = $("#board-list");
                data.forEach(function (board) {
                    boardList.append(
                        "<li>" + board.title + " - " + board.writer + "</li>"
                    );
                });
            },
            error: function (error) {
                console.error("Error:", error);
            },
        });
    });


    $(document).ready(function () {
        $.ajax({
            url: "/boards/repair/top10",
            type: "GET",
            success: function (data) {
                var boardList = $("#board-list2");
                data.forEach(function (board) {
                    boardList.append(
                        "<li>" + board.title + " - " + board.writer + "</li>"
                    );
                });
            },
            error: function (error) {
                console.error("Error:", error);
            },
        });
    });

</script>
</html>
