<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/category/count}" method="get">
    <div>
        <label for="largeCategory">Select Large Category:</label>
        <select id="largeCategory" name="largeCategory">
            <option th:each="category : ${T(com.springboot.inventory.common.enums.LargeCategory).values()}"
                    th:value="${category}" th:text="${category.getKorean()}"></option>
        </select>
        <button type="submit">Show Category Counts</button>
    </div>
</form>

<h2 th:text="${selectedLargeCategory}">Selected Large Category</h2>

<!-- categoryName별 count 출력 -->
<table>
    <thead>
    <tr>
        <th>Category Name</th>
        <th>Count</th>
    </tr>
    </thead>
    <tbody>
    <!-- categoryName별 count 데이터가 여기에 동적으로 삽입됩니다. -->
    <tr th:each="categoryCount : ${categoryCounts}">
        <td th:text="${categoryCount.categoryName}">Category Name</td>
        <td th:text="${categoryCount.count}">Count</td>
    </tr>
    </tbody>
</table>
</body>
</html>
