<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic.html}">
<head>
    <title>Supply Dashboard</title>
</head>
<body>

<div layout:fragment="content">
    <div id="categories" th:each="category : ${categories}">
        <button th:id="${category}" th:text="${category}" th:attr="data-category=${category}">
        </button>
    </div>

    <div id="data-container">
        <!-- categoryName별 집계 데이터를 여기에 로드 -->
    </div>
</div>

<script>
    document.getElementById('categories').addEventListener('click', function(e) {
        if(e.target.tagName === 'BUTTON') {
            let category = e.target.getAttribute('data-category');

            fetch(`/data/${category}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ largeCategory: category }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    let content = '';
                    for(const [status, count] of Object.entries(data)) {
                        content += `<p>${status}: ${count}</p>`;
                    }
                    document.getElementById('data-container').innerHTML = content;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    });
</script>
</body>
</html>
