<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
  <link th:href="@{/css/supply-st.css}" rel="stylesheet" />

</head>
<div layout:fragment="content">

  <h1>Supply List</h1>
  <table class="supply-table">
    <thead>
    <tr>
      <th>Serial Number</th>
      <th>Model Name</th>
      <th>Model Content</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <!-- 반복문을 사용하여 supply 목록을 나열합니다. -->
    <tr th:each="supply : ${supplies}">
      <td th:text="${supply.serialNum}"></td>
      <td th:text="${supply.modelName}"></td>
      <td th:text="${supply.modelContent}"></td>
      <td th:text="${supply.amount}"></td>
      <a th:href="@{'/modify/' + ${supply.supplyId}}">수정</a>
    </tr>
    </tbody>
  </table>



  <script layout:fragment="script" th:inline="javascript">

  </script>


</div>


</html>