<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script  type="text/javascript" th:src="@{/js/request.js}"></script>
</head>
<body>
    <h1>관리자 - 제품 등록 화면</h1>

    <form id="supply-regiseter_form" onsubmit="onSubmitSupply(event);">

        <label for="category">분류</label>
        <select id="category"></select>

        <label for="amount" >수량</label>
        <input id="amount" type="number" required>

        <label for="modelName">품명</label>
        <input id="modelName" type="text">

        <button>제출</button>
    </form>

    <div>
        <a th:href="@{/admin-main}"><button>메인 페이지</button></a>
    </div>
</body>
</html>